<section class="py-5">
  <div class="container d-flex flex-column align-items-center">
    <div class="text-center section-header mb-5">
      <h2 class="text-uppercase fs-1 fw-bolder">contact component</h2>
      <app-star></app-star>
    </div>
    <form action="#">
      <input type="text" id="userName" placeholder="userName" />
      <input type="text" id="userAge" placeholder="userAge" />
      <input type="email" id="userEmail" placeholder="userEmail" />
      <input type="password" id="userPass" placeholder="userPass" />
      <button class="btn btn-style border rounded-2 mt-4">Send Message</button>
    </form>
  </div>
</section>
