<section>
  <div class="container">
    <h2 class="fs-1 fw-bold text-center">PORTFOLIO COMPONENT</h2>
    <star> </star>
    <div class="row mb-5">
      <div class="col-lg-4">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="portfolio-img">
            <img src="./img/imgi_1_poert1.png" alt="" />
            <div class="layer">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="./img/imgi_1_poert1.png" class="w-100" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="portfolio-img">
            <img src="./img/imgi_2_port2.png" alt="" />
            <div class="layer">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="./img/imgi_2_port2.png" class="w-100" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="portfolio-img">
            <img src="./img/imgi_3_port3.png" alt="" />
            <div class="layer">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="./img/imgi_3_port3.png" class="w-100" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="portfolio-img">
            <img src="./img/imgi_1_poert1.png" alt="" />
            <div class="layer">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="./img/imgi_1_poert1.png" class="w-100" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="portfolio-img">
            <img src="./img/imgi_2_port2.png" alt="" />
            <div class="layer">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="./img/imgi_2_port2.png" class="w-100" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="portfolio-img">
            <img src="./img/imgi_3_port3.png" alt="" />
            <div class="layer">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="./img/imgi_3_port3.png" class="w-100" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
