<footer class="footer bg-dark text-white pt-5">
  <div class="row p-5 gy-5">
    <div class="col-lg-4 text-center">
      <h3>LOCATION</h3>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="col-lg-4 text-center">
      <h3 class="">AROUND THE WEB</h3>
      <ul class="list-unstyled d-flex justify-content-center p-0">
        <li class=""><i class="fa-brands fa-facebook pt-2"></i></li>
        <li class=""><i class="fa-brands fa-twitter ms-3 pt-2"></i></li>
        <li class=""><i class="fa-brands fa-linkedin ms-3 pt-2"></i></li>
        <li class=""><i class="fa-solid fa-globe ms-3 pt-2"></i></li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">
      <h3>ABOUT FREELANCER</h3>
      <p>
        Freelance is a free to use, licensed Bootstrap theme created by
        Mmisara14
      </p>
    </div>
  </div>
</footer>
<div class="copy-right m-0 p-4 text-center text-white">
  <p>Copyright © Your Website 2025</p>
</div>
